<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home/tabs/messages"></ion-back-button>
    </ion-buttons>
    <ion-title>Nossos Fundadores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
  <ion-text color = "medium">
  </ion-text>
    <ion-card-header>
      <ion-row class="ion-align-item-center">
        <ion-col size="auto">
      <ion-avatar>
        <img src="https://dwtrabalhophp.000webhostapp.com/content/img/User_01.png">
      </ion-avatar>
      <ion-card-title size="10">Luiz Rioja, 17</ion-card-title>
      </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content style="text-align: justify;">
      Garoto prodígio que apadrinhou mais de 100 animais nos últimos três anos, desde que teve contato com ONG's de proteção animal. Desde então promove a causa sempre que pode.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-text color = "medium">
    </ion-text>
      <ion-card-header>
        <ion-row class="ion-align-item-center">
          <ion-col size="auto">
        <ion-avatar>
          <img src="https://dwtrabalhophp.000webhostapp.com/content/img/User_03.png">
        </ion-avatar>
        <ion-card-title size="10">Erika Juliana, 22</ion-card-title>
        </ion-col>
        </ion-row>
      </ion-card-header>
      <ion-card-content style="text-align: justify;">
        Aficionada por gatos, a empresária realiza parcerias entre clínicas veterinárias e ONG's, nas quais particpa ativamente desde 2009.
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-text color = "medium">
      </ion-text>
        <ion-card-header>
          <ion-row class="ion-align-item-center">
            <ion-col size="auto">
          <ion-avatar>
            <img src="https://dwtrabalhophp.000webhostapp.com/content/img/User_04.png">
          </ion-avatar>
          <ion-card-title size="10">Caio Capasso, 52</ion-card-title>
          </ion-col>
          </ion-row>
        </ion-card-header>
        <ion-card-content style="text-align: justify;">
          Realiza constribuições sempre que pode para tratamento e alimentação de cães de rua. Parece lenhador hipster, mas não corta árvore nem usa modelador capilar.
        </ion-card-content>
      </ion-card>

      
      <ion-card>
        <ion-text color = "medium">
        </ion-text>
          <ion-card-header>
            <ion-row class="ion-align-item-center">
              <ion-col size="auto">
            <ion-avatar>
              <img src="https://dwtrabalhophp.000webhostapp.com/content/img/User_02.png">
            </ion-avatar>
            <ion-card-title size="10">Jessica Santos, 23</ion-card-title>
            </ion-col>
            </ion-row>
          </ion-card-header>
          <ion-card-content style="text-align: justify;">
            Apaixonada por animais, a estudante é apoiadora de ONG's de proteção animal e realiza doações milionária à causa.
          </ion-card-content>
        </ion-card>
      


</ion-content>

