<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{user?.name}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="isLoadingPets || isLoadingUser">
    <ion-spinner></ion-spinner>
  </div>
  <div *ngIf="!isLoadingPets && !isLoadingUser">
    <ion-grid class="ion-align-items-center ion-no-padding">
      <ion-col>
        <ion-row>
          <ion-img class="cardImg" [src]="user?.avatar" alt={{user?.name}}></ion-img>
        </ion-row>
        <ion-row>
          <ion-label><small>Usuário desde: {{helperService.getFormattedDate(user?.createdAt)}}</small></ion-label>
        </ion-row>
        <ion-row>
          <ion-list>
            <ion-list-header>
              <ion-label>
                <h1>Informações públicas</h1>
              </ion-label>
            </ion-list-header>
            <ion-item lines="inset">
              <ion-label>Localização: {{user?.neighborhood}} em {{user?.city}} - {{user?.state}}</ion-label>
            </ion-item>
            <ion-item lines="full">
              <ion-label>Idade: {{helperService.getAge(user?.birthDate)}}</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="ion-text-justify ion-text-wrap">{{user?.description}}</ion-label>
            </ion-item>
          </ion-list>
        </ion-row>
        <ion-row>
          <!-- lista dos anuncios desse user -->
          <ion-item>
            <div *ngIf="!isLoadingPets && pets?.length > 0">
              <app-pet-card [item]="i" *ngFor="let i of pets"> </app-pet-card>
            </div>
          </ion-item>
        </ion-row>
      </ion-col>
    </ion-grid>
  </div>

</ion-content>