<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{user?.name}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="isLoadingPets || isLoadingUser">
    <ion-spinner></ion-spinner>
  </div>
  <div *ngIf="!isLoadingPets && !isLoadingUser">
    <ion-grid class="ion-align-items-center ion-no-padding">
      <ion-col>
        <ion-row>
          <ion-img class="cardImg" [src]="user?.avatar" alt={{user?.name}}></ion-img>
        </ion-row>
        <div class="ion-padding ion-text-justify">
          <ion-row>
            <h1 class="details-modal-title">Informações públicas</h1>
          </ion-row>
          <ion-row>
            <p class="details-modal-list-row"><strong>Nome:</strong> {{user?.name}}</p>
          </ion-row>
          <ion-row >
            <p class="details-modal-list-row"><strong>Idade:</strong> {{user?.birthDate}}</p>
          </ion-row>
          <ion-row >
            <p class="details-modal-list-row"><strong>Identidade de Gênero:</strong> {{user?.gender}}</p>
          </ion-row>
          <ion-row>
            <p class="details-modal-list-row"><strong>Usuário desde:</strong> {{user?.createdAt}}</p>
          </ion-row>
          <ion-row>
            <p class="details-modal-list-row"><strong>Localização:</strong> {{user?.neighborhood}} em {{user?.city}} - {{user?.state}}</p>
          </ion-row>
          <ion-row [hidden]="!user?.website">
            <p class="details-modal-list-row"><strong>Website:</strong> {{user?.website}}</p>
          </ion-row>
          <ion-row>
            <p class="details-modal-list-row"><strong>Sobre:</strong></p>
          </ion-row>
          <ion-row>
            <p class="details-modal-list-row ion-no-margin">{{user?.description}}</p>
          </ion-row>
          <!-- lista dos anuncios desse user -->
          <ion-row>
            <h2>Anúncios publicados</h2>
          </ion-row>
          <ion-row>
            <div *ngIf="!isLoadingPets && pets?.length > 0">
              <app-pet-card [item]="i" *ngFor="let i of pets"> </app-pet-card>
            </div>
          </ion-row>
        </div>
      </ion-col>
    </ion-grid>
  </div>

</ion-content>