<ion-header> </ion-header>

<ion-content>
  <ion-list>
    <ion-item (click)="presentModalUserEdit()">
      <ion-icon slot="start" name="person-circle-outline"></ion-icon>
      <ion-label>Visualizar e Alterar Dados Pessoais</ion-label>
    </ion-item>
    <ion-item [routerLink]="['user-config']">
      <ion-icon slot="start" name="settings-outline"></ion-icon>
      <ion-label>Configurações do Usuário</ion-label>
    </ion-item>
    <ion-item [routerLink]="['help']">
      <ion-icon slot="start" name="help-circle-outline"></ion-icon>
      <ion-label>Ajuda ao Usuário</ion-label>
    </ion-item>
    <ion-item [routerLink]="['privacy']">
      <ion-icon slot="start" name="document-text-outline"></ion-icon>
      <ion-label>Política de Privacidade</ion-label>
    </ion-item>
    <ion-item [routerLink]="['legal']">
      <ion-icon slot="start" name="information-circle-outline"></ion-icon>
      <ion-label>Informações Legais</ion-label>
    </ion-item>
    <ion-item (click)="presentAlertLogout()">
      <ion-icon slot="start" name="exit-outline"></ion-icon>
      <ion-label>Sair da Conta</ion-label>
    </ion-item>
    <ion-item (click)="presentAlertDelete()">
      <ion-icon slot="start" name="trash-outline"></ion-icon>
      <ion-label>Excluir Conta</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
