<ion-header>
  <ion-toolbar color="primary">
  <ion-title color="light">Meu Perfil e Preferências</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-item [routerLink]="['user-data']">
      <ion-icon color="primary" slot="start" name="person-circle-outline"></ion-icon>
      <ion-label>Alterar Dados Pessoais</ion-label>
    </ion-item>
    <ion-item [routerLink]="['user-config']">
      <ion-icon color="primary" slot="start" name="settings-outline"></ion-icon>
      <ion-label>Configurações do Usuário</ion-label>
    </ion-item>
    <ion-item (click)="presentAlertLogout()">
      <ion-icon color="primary" slot="start" name="exit-outline"></ion-icon>
      <ion-label>Sair da Conta</ion-label>
    </ion-item>
    <ion-item [routerLink]="['help']">
      <ion-icon color="primary" slot="start" name="help-circle-outline"></ion-icon>
      <ion-label>Ajuda ao Usuário</ion-label>
    </ion-item>
    <ion-item [routerLink]="['privacy']">
      <ion-icon color="primary" slot="start" name="document-text-outline"></ion-icon>
      <ion-label>Política de Privacidade</ion-label>
    </ion-item>
    <ion-item [routerLink]="['sobre']">
      <ion-icon color="primary" slot="start" name="information-circle-outline"></ion-icon>
      <ion-label>Sobre a Pet<ion-text color="secondary">S2</ion-text>Care</ion-label>
    </ion-item>
    <ion-item [routerLink]="['equipe']">
      <ion-icon color="primary" slot="start" name="people-outline"></ion-icon>
      <ion-label>Nossa Equipe</ion-label>
    </ion-item>
    <ion-item (click)="presentAlertDelete()">
      <ion-icon color="primary" slot="start" name="trash-outline"></ion-icon>
      <ion-label color="danger">Excluir Conta</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
