<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="root/tabs/profile"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Sobre a Pet<ion-label color="secondary">S2</ion-label>Care</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid class="ion-padding">
    <ion-col>
      <!-- Missão -->
      <ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col>
            <ion-icon size="large" name="move" color="secondary"></ion-icon>
          </ion-col>
          <ion-col>
            <h3>Missão</h3>
          </ion-col>
        </ion-row>
      </ion-row>
      <ion-row>
        <div style="text-align: justify;">
          <p>A Pet<ion-text color="secondary">S2</ion-text>Care surgiu com o objetivo de oferecer uma perspectiva de
            vida digna a todos os animais abandonados e
            carentes de atenção e cuidado.</p>
          <p>O nosso maior propósito é unir um humano que possui disponibilidade e amor para adotar com um animal que
            por
            sua vez necessita de um lar.</p>
        </div>
      </ion-row>
      <!-- Visão -->
      <ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col>
            <ion-icon size="large" name="eye" color="secondary"></ion-icon>
          </ion-col>
          <ion-col>
            <h3>Visão</h3>
          </ion-col>
        </ion-row>
      </ion-row>
      <ion-row>
        <div style="text-align: justify;">
          <p>A Pet<ion-text color="secondary">S2</ion-text>Care espera se tornar uma empresa referência na saúde e
            bem-estar animal, unindo pessoas dispostas a dar
            o cuidado e carinho necessário à animais em situação de abandono e negligência.</p>
          <p>Através de parcerias com indivíduos, empresas, ONGs, e outras entidades da sociedade civil, visamos
            promover a
            união das ações ligadas à nossa missão por todo o Brasil.</p>
        </div>
      </ion-row>
      <!-- Valores -->
      <ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col>
            <ion-icon size="large" name="heart" color="secondary"></ion-icon>
          </ion-col>
          <ion-col>
            <h3>Valores</h3>
          </ion-col>
        </ion-row>
      </ion-row>
      <ion-row>
        <div style="text-align: justify;">
          <p>Carregamos na Pet<ion-text color="secondary">S2</ion-text>Care os seguintes valores:</p>
          <ul>
            <li>
              <p>O Cuidado;</p>
            </li>
            <li>
              <p>O Profissionalismo;</p>
            </li>
            <li>
              <p>O Amor e Respeito incondicionais aos animais;</p>
            </li>
            <li>
              <p>A Idoneidade, ética e transparência em todas as nossas atividades e relações.</p>
            </li>
          </ul>
        </div>
      </ion-row>
    </ion-col>
  </ion-grid>
</ion-content>