<ion-header>
  <ion-toolbar>
    <ion-segment [(ngModel)]="selectedSegment">
      <ion-segment-button value="featured">
        <ion-label>Destaques</ion-label>
      </ion-segment-button>
      <ion-segment-button value="custom">
        <ion-label>Pessoal</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
<div [ngSwitch]="selectedSegment" >
  <ion-grid *ngSwitchCase="'featured'">
    <div *ngIf="isLoading" class="ion-text-center">
      <ion-spinner color="primary"></ion-spinner>
    </div>
    <div *ngIf="!isLoading && petsData.length <= 0">
      <p>Nenhum Anúncio Encontrado!</p>
    </div>
    <div *ngIf="!isLoading && petsData.length > 0">
      <app-photo-card [item]="i" *ngFor="let i of petsData"> </app-photo-card>
    </div>   
  </ion-grid>
  <ion-grid *ngSwitchCase="'custom'">
    <ion-item>
      conteúdo custom do usuário {{userData.name}}
    </ion-item>
  </ion-grid>
</div>
</ion-content>