<ion-header>
  <ion-toolbar>
    <ion-title>
<img src="https://dwtrabalhophp.000webhostapp.com/content/img/PETS2LOVE_COMPLETO.png" alt="Pets2care" class="main-logo">

    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="selectedSegment">
      <ion-segment-button value="featured">
        <ion-label>Destaques</ion-label>
      </ion-segment-button>
      <ion-segment-button value="custom">
        <ion-label>Pessoal</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
<div [ngSwitch]="selectedSegment" >
  <ion-grid *ngSwitchCase="'featured'">
    <app-photo-card [item]="i" *ngFor="let i of items"> </app-photo-card>
  </ion-grid>
  <ion-grid *ngSwitchCase="'custom'">
    conteúdo custom
  </ion-grid>
</div>
</ion-content>