<ion-header>
  <ion-toolbar>
    <ion-title>
<img src="https://dwtrabalhophp.000webhostapp.com/content/img/PETS2LOVE_COMPLETO.png" alt="Pets2care" class="main-logo">

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="featured">
        <ion-label>Destaques</ion-label>
      </ion-tab-button>  
      <ion-tab-button tab="custom">
        <ion-label>Personalizado</ion-label>
      </ion-tab-button>
      </ion-tab-bar>
  </ion-tabs>
</ion-content>
