<ion-header>
  <ion-toolbar>
    <ion-segment [(ngModel)]="selectedSegment" (ionChange)="applySegmentFilter($event.detail.value)">
      <ion-segment-button value="all">
        <ion-label>Todos</ion-label>
      </ion-segment-button>
      <ion-segment-button value="dog">
        <ion-label>Cachorros</ion-label>
      </ion-segment-button>
      <ion-segment-button value="cat">
        <ion-label>Gatos</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text color="primary">
    <h1 class="ion-text-center">
      {{filteredPetsData.length}} Animais Encontrados
    </h1>
  </ion-text>
      <app-photo-card [item]="i" *ngFor="let i of filteredPetsData"> </app-photo-card>
</ion-content>