<ion-header>
  <ion-toolbar>
    <ion-segment [(ngModel)]="selectedSegment" (ionChange)="applySegmentFilter($event)">
      <ion-segment-button value="all">
        <ion-label>Todos</ion-label>
      </ion-segment-button>
      <ion-segment-button value="dog">
        <ion-label>Cachorros</ion-label>
      </ion-segment-button>
      <ion-segment-button value="cat">
        <ion-label>Gatos</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar (ionInput)="filterArray($event)" placeholder="Buscar animal"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text color="primary">
    <h1 class="ion-text-center">
      {{result.length}} Animais Encontrados
    </h1>
  </ion-text>
      <app-photo-card [item]="i" *ngFor="let i of result"> </app-photo-card>
</ion-content>