<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="root/tabs/profile"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Nossa Equipe</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-card>
    <ion-text color="medium">
    </ion-text>
    <ion-card-header>
      <ion-row>
        <ion-col size="auto">
          <ion-avatar>
            <img src="assets/img/luiz.png">
          </ion-avatar>
        </ion-col>
        <ion-col style="align-self: center;">
          <ion-card-title size="10">Luiz Rioja, 17</ion-card-title>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content style="text-align: justify;">
      Garoto prodígio que apadrinhou mais de 100 animais nos últimos três anos, desde que teve contato com ONG's de
      proteção animal. Desde então promove a causa sempre que pode.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-text color="medium">
    </ion-text>
    <ion-card-header>
      <ion-row>
        <ion-col size="auto">
          <ion-avatar>
            <img src="assets/img/erika.png">
          </ion-avatar>
        </ion-col>
        <ion-col style="align-self: center;">
          <ion-card-title size="10">Erika Juliana, 22</ion-card-title>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content style="text-align: justify;">
      Aficionada por gatos, a empresária realiza parcerias entre clínicas veterinárias e ONG's, nas quais particpa
      ativamente desde 2009.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-text color="medium">
    </ion-text>
    <ion-card-header>
      <ion-row>
        <ion-col size="auto">
          <ion-avatar>
           <img src="assets/img/caio.png">
          </ion-avatar>
        </ion-col>
        <ion-col style="align-self: center;">
          <ion-card-title size="10">Caio Capasso, 52</ion-card-title>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content style="text-align: justify;">
      Realiza constribuições sempre que pode para tratamento e alimentação de cães de rua. Parece lenhador hipster, mas
      não corta árvore nem usa modelador capilar.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-text color="medium">
    </ion-text>
    <ion-card-header>
      <ion-row>
        <ion-col size="auto">
          <ion-avatar>
            <img src="assets/img/jessica.png">
          </ion-avatar>
        </ion-col>
        <ion-col style="align-self: center;">
          <ion-card-title size="10">Jessica Santos, 23</ion-card-title>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content style="text-align: justify;">
      Apaixonada por animais, a estudante é apoiadora de ONG's de proteção animal e realiza doações milionária à causa.
    </ion-card-content>
  </ion-card>
</ion-content>