<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <ion-grid>
    <ion-row color="primary" class="ion-justify-content-center">
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div class="ion-text-center">
          <h3>Realizar Login</h3>
        </div>
        <div>
          <ion-item lines="inset">
            <ion-label position="floating">E-Mail</ion-label>
            <ion-input ngModel #emailCtrl="ngModel" type="email" name="email" required pattern="^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$"></ion-input>
          </ion-item>
          <ion-item lines="none" class="input-label" *ngIf="!emailCtrl.valid && emailCtrl.touched">
            <ion-note>
              Campo obrigatório
              <!-- Email address, most used cases -->
            </ion-note>
          </ion-item>
        </div>
        <div>
          <ion-item lines="inset">
            <ion-label position="floating">Senha</ion-label>
            <!-- <ion-input ngModel #passwordCtrl="ngModel" type="password" name="password" required pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%^&+=.\-_*])([a-zA-Z0-9@#$%^&+=*.\-_]){3,}$"></ion-input> -->
            <ion-input ngModel #passwordCtrl="ngModel" type="password" name="password" required></ion-input>
            
          </ion-item>
          <ion-item lines="none" class="input-label" *ngIf="!passwordCtrl.valid && passwordCtrl.touched">
            <ion-note>
              Campo obrigatório
              <!-- Safe Password that allow only with a number, a lowercase, a uppercase, and a special character -->
            </ion-note>
          </ion-item>
        </div>
        <div class="ion-padding">
          <ion-button type="submit" color="primary" expand="block" [disabled]="!f.valid || isLoading">
            Entrar
          </ion-button>
        </div>
        <div class="ion-padding">
          <a routerLink="/register">
            Ainda não tem uma conta? Registre-se Aqui!
          </a>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>