<ion-card>
  <ion-card-header>
    <ion-card-title><strong>{{item.name}} - {{item.age}} {{item.age > 1 ? 'Meses' : 'Mês'}} </strong></ion-card-title>
    <ion-card-subtitle>{{item.place}}</ion-card-subtitle>
    <ion-card-subtitle>Criado em: {{getFormattedDate()}}</ion-card-subtitle>
    <ion-card-subtitle>Tutor temporário: {{item.userName}}</ion-card-subtitle>
  </ion-card-header>
<ion-card-content>
  <ion-img class="cardImg" [src]="item && item.images[0] && item.images[0].url" alt={{item.name}}></ion-img>
  <ion-item lines="full">
    <ion-label class="ion-text-wrap">{{item.description}}</ion-label>
  </ion-item>  
</ion-card-content>
  

  <ion-row>
    <ion-col>
      <ion-button fill="clear" (click)="selectAnimal(item.userId)">
        <span>
          <ion-icon slot="icon-only" name="paw-outline"></ion-icon>
          <small> Cuidar </small>
        </span>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-card>