<ion-header>
  <ion-toolbar color="primary">
  <ion-title color="light">Minhas Mensagens ({{ messages?.length || 0}})</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <!-- loading spinner -->
    <div *ngIf="isLoadingMessages" class="ion-text-center"
      style="padding-top: 30px;">
      <ion-spinner color="secondary"></ion-spinner>
    </div>
    <!-- Lista de Pets -->
    <!-- <div class="ion-padding">
      <ol>
        <li>
          <p><small>Os contatos de adoção que você fez ficarão listados aqui.</small></p>
        </li>
        <li>
          <p><small>Clique no avatar para ver os detalhes completos.</small></p>  
        </li>
        <li>
          <p><small>Escolha se você quer continuar esse processo de adoção.</small></p>
        </li>
        <li>
          <p><small>Se Aceitar, o contato também receberá seus dados e poderá entrar em contato com você.</small></p>
        </li>   
      </ol>
    </div> -->
    <div>
      <div *ngIf="!isLoadingMessages && messages?.length <= 0">
        <ion-text color="secondary">
          <h1 class="ion-text-center">
            Nenhuma Mensagem Encontrada!
          </h1>
        </ion-text>
      </div>
      <div *ngIf="!isLoadingMessages && messages?.length > 0">
        <app-user-message-card [item]="i" *ngFor="let i of messages"> </app-user-message-card>
      </div>
    </div>
  </div>
</ion-content>