<ion-card>
  <div (click)="viewDonation()">
    <ion-card-header style="padding-bottom: 0px;">
      <ion-card-title class="ion-text-center"><strong>{{item?.name}} -
        </strong>{{helperService.getAge(item?.birthDate)}}</ion-card-title>
      <ion-item lines="none" class="ion-no-padding">
        <ion-card-subtitle slot="start">{{item?.city}} - {{item?.state}}</ion-card-subtitle>
        <ion-card-subtitle slot="end">{{helperService.getFormattedDate(item?.createdAt)}}
        </ion-card-subtitle>
      </ion-item>
    </ion-card-header>
    <ion-card-content class="ion-no-padding">
      <ion-img class="cardImg" [src]="item?.images[0]?.url" alt={{item.name}}></ion-img>
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">{{item.description}}</ion-label>
      </ion-item>
    </ion-card-content>
  </div>
  <span [hidden]="!isDonationPage">
    <ion-row class="ion-justify-content-between">
      <ion-col class="ion-text-center">
        <ion-button fill="clear" (click)="editDonation()">
          <span>
            <ion-icon slot="icon-only" name="create-outline"></ion-icon><br>
            <small>Editar</small>
          </span>
        </ion-button>
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-button fill="clear" (click)="pauseDonation()">
          <span>
            <ion-icon slot="icon-only" name="create-outline"></ion-icon><br>
            <small>Pausar</small>
          </span>
        </ion-button>
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-button fill="clear" (click)="deleteDonation()">
          <span>
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon><br>
            <small>Excluir</small>
          </span>
        </ion-button>
      </ion-col>
    </ion-row>
  </span>
</ion-card>