<ion-card>
  <div (click)="viewDonation()">
    <ion-card-header  class="ion-no-padding" style="padding-bottom: 10px;">
      <ion-img class="cardImg" [src]="item?.images[0]?.url" alt={{item.name}}></ion-img>
      <ion-card-title class="ion-text-center"><strong>{{item?.name}}</strong></ion-card-title>
      <ion-card-subtitle slot="end">{{helperService.getFormattedDate(item?.createdAt)}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="ion-no-padding">
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">{{helperService.truncateWithEllipses(item.description, 100)}}</ion-label>
      </ion-item>
      <ion-row>
        <ion-chip class="chip-small" >{{helperService.getAge(item?.birthDate)}}</ion-chip>
        <ion-chip class="chip-small">{{item?.neighborhood}}</ion-chip>
        <ion-chip class="chip-small" >{{item?.city}}</ion-chip>
        <ion-chip class="chip-small" >{{item?.state}}</ion-chip>
      </ion-row>
    </ion-card-content>
  </div>
  <span [hidden]="!isDonationPage">
    <ion-row class="ion-justify-content-between">
      <ion-col class="ion-text-center">
        <ion-button fill="clear" (click)="editDonation()">
          <span>
            <ion-icon slot="icon-only" name="create-outline"></ion-icon><br>
            <small>Editar</small>
          </span>
        </ion-button>
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-button fill="clear" (click)="pauseDonation()">
          <span>
            <ion-icon slot="icon-only" name="create-outline"></ion-icon><br>
            <small>Pausar</small>
          </span>
        </ion-button>
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-button fill="clear" (click)="deleteDonation()">
          <span>
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon><br>
            <small>Excluir</small>
          </span>
        </ion-button>
      </ion-col>
    </ion-row>
  </span>
</ion-card>