<ion-content>
  <ion-tabs>
    <ion-tab-bar color="primary" slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon color="light" name="home"></ion-icon>
        <ion-label color="light">Home</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="search">
        <ion-icon color="light" name="search"></ion-icon>
        <ion-label color="light">Procurar</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="donate">
        <ion-icon color="light" name="heart"></ion-icon>
        <ion-label color="light">Doar</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="messages">
        <ion-icon color="light" name="mail"></ion-icon>
        <ion-label color="light">Mensagens</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="profile">
        <ion-icon color="light" name="person-circle"></ion-icon>
        <ion-label color="light">Perfil</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
