<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{this.petId ? 'Cadastrar Anúncio de Adoção' : 'Editar Anúncio de Adoção'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #donationForm="ngForm" (ngSubmit)="onSubmit()">
    <ion-grid>
      <ion-row color="primary" class="ion-justify-content-center">
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div class="ion-text-center">
            <h3>Preencha as informações que aparecerão no anúncio</h3>
          </div>
          <!-- NAME -->
          <div>
            <ion-item lines="inset">
              <ion-label position="floating">Nome</ion-label>
              <ion-input ngModel #nameCtrl="ngModel" type="text" name="name" pattern="^[A-Za-zÀ-ÖØ-öø-ÿ\s]{1,50}$">
              </ion-input>
            </ion-item>
            <ion-item lines="none" class="input-label" *ngIf="!nameCtrl.valid && nameCtrl.touched">
              <ion-note>
                Campo obrigatório. Mínimo 1 carácter.
              </ion-note>
            </ion-item>
          </div>
          <!-- BIRTHDATE -->
          <div>
            <ion-item lines="inset">
              <ion-label position="floating">Data de Nascimento (aproximada)</ion-label>
              <ion-datetime ngModel #birthDateCtrl="ngModel" name="birthDate" displayFormat="D MMM, YYYY" min="1990"
                max="2021" value="2020-01-01"></ion-datetime>
            </ion-item>
            <ion-item lines="none" class="input-label" *ngIf="!birthDateCtrl.valid && birthDateCtrl.touched">
              <ion-note>
                Campo obrigatório.
              </ion-note>
            </ion-item>
          </div>
          <!-- GENDER -->
          <div>
            <ion-item lines="inset">
              <ion-label position="floating">Sexo</ion-label>
              <ion-select ngModel #genderCtrl="ngModel" name="gender" placeholder="Selecione um">
                <ion-select-option value="female">Fêmea</ion-select-option>
                <ion-select-option value="male">Macho</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item lines="none" class="input-label" *ngIf="!genderCtrl.valid && genderCtrl.touched">
              <ion-note>
                Campo obrigatório.
              </ion-note>
            </ion-item>
          </div>
          <!-- TYPE -->
          <div>
            <ion-item>
              <ion-label position="floating">Tipo</ion-label>
              <ion-select ngModel #typeCtrl="ngModel" name="type" placeholder="Selecione um">
                <ion-select-option value="dog">Cachorro</ion-select-option>
                <ion-select-option value="cat">Gato</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item lines="none" class="input-label" *ngIf="!typeCtrl.valid && typeCtrl.touched">
              <ion-note>
                Campo obrigatório.
              </ion-note>
            </ion-item>
          </div>
          <!-- BREED -->
          <div>
            <ion-item lines="inset">
              <ion-label position="floating">Raça (opcional)</ion-label>
              <ion-input ngModel #breedCtrl="ngModel" type="text" name="breed" pattern="^[A-Za-zÀ-ÖØ-öø-ÿ\s]{1,50}$">
              </ion-input>
            </ion-item>
          </div>
          <!-- VACCINATED -->
          <div>
            <ion-item lines="inset">
              <ion-label>Vacinado?</ion-label>
              <ion-checkbox slot="end" #vaccinatedCtrl="ngModel" name="vaccinated" [(ngModel)]="isVaccinated">
              </ion-checkbox>
            </ion-item>
          </div>
          <!-- DEWORMED -->
          <div>
            <ion-item lines="inset">
              <ion-label>Vermifugado?</ion-label>
              <ion-checkbox slot="end" #dewormedCtrl="ngModel" name="dewormed" [(ngModel)]="isDewormed"></ion-checkbox>
            </ion-item>
          </div>
          <!-- CASTRATED -->
          <div>
            <ion-item lines="inset">
              <ion-label>Castrado?</ion-label>
              <ion-checkbox slot="end" #castratedCtrl="ngModel" name="castrated" [(ngModel)]="isCastrated">
              </ion-checkbox>
            </ion-item>
          </div>
          <!-- DEFICIT -->
          <div>
            <ion-item lines="inset">
              <ion-label>Necessidades Especiais? </ion-label>
              <ion-checkbox slot="end" #deficitCtrl="ngModel" name="deficit" [(ngModel)]="isDeficit"></ion-checkbox>
            </ion-item>
          </div>
          <!-- DESCRIPTION -->
          <div>
            <ion-item lines="inset">
              <ion-label position="floating">Descrição (opcional)</ion-label>
              <ion-textarea ngModel #descriptionCtrl="ngModel" autoGrow="true" name="description" pattern="^.{0,500}$">
              </ion-textarea>
            </ion-item>
            <ion-item lines="none" class="input-label" *ngIf="!descriptionCtrl.valid && descriptionCtrl.touched">
              <ion-note>
                Máximo de 500 carácteres.
              </ion-note>
            </ion-item>
          </div>
          <!-- CEP -->
          <div>
            <ion-item lines="inset">
              <ion-label position="floating">CEP</ion-label>
              <ion-input ngModel #cepCtrl="ngModel" type="text" name="cep" pattern="^\d{5}-?\d{3}$"></ion-input>
            </ion-item>
            <ion-item lines="none" class="input-label" *ngIf="!cepCtrl.valid && cepCtrl.touched">
              <ion-note>
                Campo obrigatório. Minímo 9 carácteres. Ex: 12345-000, 12345000
              </ion-note>
            </ion-item>
          </div>
          <!-- STREET -->
          <div>
            <ion-item lines="inset">
              <ion-label position="floating">Endereço</ion-label>
              <ion-input ngModel #streetCtrl="ngModel" type="text" name="street" pattern="^[A-Za-zÀ-ÖØ-öø-ÿ\s]{1,100}$">
              </ion-input>
            </ion-item>
            <ion-item lines="none" class="input-label" *ngIf="!streetCtrl.valid && streetCtrl.touched">
              <ion-note>
                Campo obrigatório. Mínimo 1 carácter.
              </ion-note>
            </ion-item>
          </div>
          <!-- NUMBER -->
          <div>
            <ion-item lines="inset">
              <ion-label position="floating">Número</ion-label>
              <ion-input ngModel #numberCtrl="ngModel" type="text" name="number" pattern="^[0-9]{1,10}$">
              </ion-input>
            </ion-item>
            <ion-item lines="none" class="input-label" *ngIf="!numberCtrl.valid && numberCtrl.touched">
              <ion-note>
                Campo obrigatório. Mínimo de um carácter.
              </ion-note>
            </ion-item>
          </div>
          <!-- COMPLEMENT -->
          <div>
            <ion-item lines="inset">
              <ion-label position="floating">Complemento</ion-label>
              <ion-input ngModel #complementCtrl="ngModel" type="text" name="complement"
                pattern="^[A-Za-zÀ-ÖØ-öø-ÿ0-9\s]{1,50}$"></ion-input>
            </ion-item>
            <ion-item lines="none" class="input-label" *ngIf="!complementCtrl.valid && complementCtrl.touched">
              <ion-note>
                Campo obrigatório. Mínimo de um carácter.
              </ion-note>
            </ion-item>
          </div>
          <!-- NEIGHBORHOOD -->
          <div>
            <ion-item lines="inset">
              <ion-label position="floating">Bairro</ion-label>
              <ion-input ngModel #neighborhoodCtrl="ngModel" type="text" name="neighborhood"
                pattern="^[A-Za-zÀ-ÖØ-öø-ÿ\s]{1,50}$"></ion-input>
            </ion-item>
            <ion-item lines="none" class="input-label" *ngIf="!neighborhoodCtrl.valid && neighborhoodCtrl.touched">
              <ion-note>
                Campo obrigatório. Mínimo de um carácter.
              </ion-note>
            </ion-item>
          </div>
          <!-- STATE -->
          <div>
            <ion-item lines="inset">
              <ion-label position="floating">Estado</ion-label>
              <ion-select ngModel #stateCtrl="ngModel" name="state" (ionChange)="selectState($event.target.value)">
                <ion-select-option *ngFor="let state of states; index as i" [value]="state.sigla">{{state.sigla}}
                </ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item lines="none" class="input-label" *ngIf="!stateCtrl.valid && stateCtrl.touched">
              <ion-note>
                Campo obrigatório.
              </ion-note>
            </ion-item>
          </div>
          <!-- CITY -->
          <div>
            <ion-item lines="inset">
              <ion-label position="floating">Cidade</ion-label>
              <ion-select ngModel #cityCtrl="ngModel" name="city" [disabled]="!selectedState">
                <ion-select-option *ngFor="let city of selectedState?.cidades; index as i" [value]="city">{{city}}
                </ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item lines="none" class="input-label" *ngIf="!cityCtrl.valid && cityCtrl.touched">
              <ion-note>
                Campo obrigatório.
              </ion-note>
            </ion-item>
          </div>
          <!-- IMAGES -->
          <div>
            <ion-item lines="inset">
              <ion-label position="stacked">Fotos</ion-label>
              <ion-input ngModel #imagesCtrl="ngModel" type="file" name="images" (change)="uploadFiles($event)"
                accept="image/png, image/jpeg" multiple>
              </ion-input>
            </ion-item>
            <ion-item lines="none" class="input-label" *ngIf="!imagesCtrl.valid && imagesCtrl.touched">
              <ion-note>
                Campo obrigatório.
              </ion-note>
            </ion-item>
          </div>
          <div class="ion-padding">
            <ion-button type="submit" color="primary" expand="block" [disabled]="!donationForm.valid || isLoading">
              Cadastrar
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>