<ion-header>
  <ion-toolbar>
    <ion-segment [(ngModel)]="selectedSegment">
      <ion-segment-button value="featured">
        <ion-label>Destaques</ion-label>
      </ion-segment-button>
      <ion-segment-button value="custom">
        <ion-label>Personalizado</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
<div [ngSwitch]="selectedSegment" >
  <ion-grid *ngSwitchCase="'featured'">
  <app-feed [isLoading]="isLoading" [petsData]="petsData"></app-feed>
  </ion-grid>
  <ion-grid *ngSwitchCase="'custom'">
    <app-custom-feed [userData]="userData"></app-custom-feed>
  </ion-grid>
</div>
</ion-content>