<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{selectedHighlight?.title}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid class="ion-align-items-center ion-no-padding">
    <ion-col>
      <ion-row>
        <ion-img class="cardImg" [src]="selectedHighlight?.image" alt={{selectedHighlight?.title}}></ion-img>
      </ion-row>
      <ion-row>
        <ion-item lines="none">
          <ion-text><small>Postado em: {{helperService.getFormattedDate(selectedHighlight?.createdAt)}}</small>
          </ion-text>
        </ion-item>
      </ion-row>
      <ion-row style="margin: 0px 20px 0px 20px">
        <h3 class="ion-text-center">{{selectedHighlight?.title}}</h3>
      </ion-row>
      <ion-row>
        <ion-item lines="none">
          <div class="imgContent" [innerHtml]="selectedHighlight?.content"></div>
        </ion-item>
      </ion-row>
    </ion-col>
  </ion-grid>
</ion-content>