

<ion-content>

   
<ion-card *ngFor="let i of photos"> 
    <ion-card-header>      
        <ion-card-title><strong>{{i.id}}</strong></ion-card-title>
        <ion-card-subtitle>{{i.place}}</ion-card-subtitle>    
    </ion-card-header>
    <img src={{i.url}} alt="">
    <ion-card-content>
        <p>
            {{i.descricao}}<br>
            <small >Há {{i.tempo}} a espera de um lar...</small><br>
            <small>Tutor temporário: {{i.user}} </small>
        </p>
    </ion-card-content>
    <ion-row>
        <ion-col>
            <ion-button fill="clear">
                <ion-icon slot="icon-only" name="paw-outline"></ion-icon>
            </ion-button>
        </ion-col>
    </ion-row>

   
</ion-card>

</ion-content>
