<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="root/tabs/profile"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Política de Privacidade</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div style="padding:20px" class="ion-text-justify">
    <p>A Pol&iacute;tica de Privacidade On-Line do aplicativo da <strong>Pet<ion-label color="secondary">S2</ion-label>Care</strong> foi criada para respeitar a
      LGPD (<a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/lei/L13709.htm" target="_blank"
        rel="noopener">Lei Geral de Prote&ccedil;&atilde;o de Dados</a>) e afirmar o nosso compromisso com a
      seguran&ccedil;a e a privacidade das informa&ccedil;&otilde;es coletadas dos usuarios do nosso aplicativo. Esta
      pol&iacute;tica est&aacute; sujeita a eventuais atualiza&ccedil;&otilde;es e recomendamos que ela seja consultada
      periodicamente. Voc&ecirc; pode <a href="$site" target="_blank" rel="noopener">visitar nosso aplicativo</a> e
      conhecer nossos servi&ccedil;os e parceiros, verificar nosso projeto, obter informa&ccedil;&otilde;es e suporte.
      Esta pol&iacute;tica procura esclarecer como coletamos e tratamos seus dados pessoais.</p>
    <p>&nbsp;</p>
    <h2>Como tratamos os dados</h2>
    <ol>
      <li>Qualquer informa&ccedil;&atilde;o fornecida pelos usu&aacute;rios ser&aacute; coletada e guardada de acordo com
        os padr&otilde;es atuais de seguran&ccedil;a e confiabilidade.</li>
      <li>As informa&ccedil;&otilde;es pessoais que nos forem fornecidas ser&atilde;o coletadas por meios legais. Essa
        coleta ter&aacute; o prop&oacute;sito de comunica&ccedil;&atilde;o comercial para que possamos vender nossos
        servi&ccedil;os, produtos, prestar suporte a atendimento sobre eles.</li>
      <li>A menos que tenhamos determina&ccedil;&atilde;o legal ou judicial, as informa&ccedil;&otilde;es dos
        usu&aacute;rios jamais ser&atilde;o fornecidas a terceiros ou usadas para finalidades diferentes daquelas para as
        quais foram coletadas.</li>
      <li>O acesso as informa&ccedil;&otilde;es coletadas est&aacute; restrito apenas aos gestores da
        <strong>Pet<ion-label color="secondary">S2</ion-label>Care</strong> e manteremos a integridade das informa&ccedil;&otilde;es que nos forem fornecidas.</li>
      <li>Colocamos &agrave; disposi&ccedil;&atilde;o de nossos usu&aacute;rios, canais de atendimento ao cliente, para
        esclarecer qualquer d&uacute;vida que possa surgir referente aos seus dados. Estes canais podem ser acionados
        atrav&eacute;s do e-mail <a href="mailto:pets2care@gmail.com">pets2care@gmail.com</a>.</li>
    </ol>
    <p>&nbsp;</p>
    <h2>Como coletamos os dados</h2>
    <ul>
      <li><strong>Chat de Atendimento on-Line.</strong> Usamos ferramentas de atendimento on-line para disponibilizar um
        chat ao vivo com nossos atendentes. Para que possamos dar continuidade no seu atendimento &eacute;
        necess&aacute;rio coletar seu nome, e-mail e telefone. Estas informa&ccedil;&otilde;es permanecer&atilde;o
        gravadas como um hist&oacute;rico e s&atilde;o removidas caso o cliente solicite ou depois de 1 ano de
        armazenamento. Todas as conversas registradas em nosso chat ser&aacute; enviada em c&oacute;pia para o seu e-mail,
        contendo quando necess&aacute;rio o n&uacute;mero de protocolo do atendimento.</li>
    </ul>
    <p>&nbsp;</p>
    <h2>Seus Direitos</h2>
    <p>Voc&ecirc; tem os seguintes direitos:</p>
    <ul>
      <li>O direito de bloquear qualquer tipo de rastreador e cookie gerado em nosso site de modo a n&atilde;o
        compartilhar nenhum tipo de informa&ccedil;&atilde;o sobre a sua conex&atilde;o e acesso ao nosso site.</li>
      <li>O direito de nos pedir para atualizar qualquer informa&ccedil;&atilde;o pessoal incorreta de que temos sobre
        voc&ecirc;.</li>
      <li>O direito de optar por sair de quaisquer meios de comunica&ccedil;&atilde;o comercial e de marketing.</li>
      <li>O direito de pedir a remo&ccedil;&atilde;o de qualquer dado pessoal que tenhamos armazenado sobre voc&ecirc;.
      </li>
    </ul>
    <p>Reservamos o prazo de 5 dias &uacute;teis para lhe responder sobre qualquer contato referente aos seus dados
      pessoais, podendo este prazo ser estendido em per&iacute;odo de festas, feriados prolongados, recesso e
      f&eacute;rias coletivas.</p>
    <p style="text-align: right;"><em>Esta pol&iacute;tica de Privacidade foi atualizada em 29/05/2021 as 18:52<em>
        </em></em></p>
  </div>
  
</ion-content>