<ion-header>
  <ion-toolbar>
    <ion-title>Institucional</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-item href="home/tabs/messages/equipe">
        <ion-icon slot="end" name="people-outline"></ion-icon>
        <ion-label>Equipe</ion-label>
      </ion-item>
      <ion-item href="home/tabs/messages/sobre">
        <ion-icon slot="end" name="add-circle-outline"></ion-icon>
        <ion-label>Sobre</ion-label>
        
      </ion-item>
    </ion-list>
    <img src="../../../assets/img/logo_pequeno.png" alt="Pets2care" class="main-logo">
</ion-content>
