   
<ion-card >
  <ion-card-header>      
      <ion-card-title><strong>{{item.name}}</strong></ion-card-title>
      <ion-card-subtitle>{{item.place}}</ion-card-subtitle>      
  </ion-card-header>
  <ion-card-content>
    <ion-img [src]="item.url" alt={{item.url}}></ion-img>
    <p>
          {{item.description}}<br>
          <small>Anúncio criado em: {{item.createdAt}}</small><br>
          <small>Idade: {{item.age}} {{item.age > 1 ? 'Meses' : 'Mês'}} </small><br>          
          <small>Tutor temporário: {{item.userName}} </small>
      </p>
  </ion-card-content>
  <ion-row>
      <ion-col>
          <ion-button fill="clear" (click)="selectAnimal(item.userId)">
            <span>
              <ion-icon slot="icon-only" name="paw-outline"></ion-icon><br>
             <small> Cuidar </small> 
            </span> 
          </ion-button>
      </ion-col>
  </ion-row> 
</ion-card>
