<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home/tabs/messages"></ion-back-button>
    </ion-buttons>
    
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content >
  <ion-card>
    <ion-card-header>
      <ion-card-title size="10">Missão <ion-icon name="move"></ion-icon>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content style="text-align: justify;">
      A petS2care surgiu com o objetivo de oferecer uma perspectiva de vida digna a todos os animais abandonados e carentes de atenção e cuidado. <br>
      O nosso maior propósito é unir um humano que possui disponibilidade e amor para adotar com um animal que por sua vez necessita de um lar.
    </ion-card-content>

    <ion-card-header>
      <ion-card-title size="10">Visão <ion-icon name="eye"></ion-icon>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content style="text-align: justify;">
      A petS2care espera se tornar uma empresa referência na saúde e bem-estar animal, unindo pessoas dispostas a dar o cuidado e carinho necessário à animais em situação de abandono e negligência. <br>
      Através de parcerias com indivíduos, empresas, ONGs, e outras entidades da sociedade civil, visamos promover a união das ações ligadas à nossa missão por todo o Brasil.
    </ion-card-content>

    <ion-card-header>
      <ion-card-title size="10">Valores <ion-icon name="heart"></ion-icon>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content style="text-align: justify;">
      Carregamos na petS2care os seguintes valores:
      <br>
        O Cuidado;
      <br>
      O Profissionalismo;
      <br>
      O Amor e Respeito incondicionais aos animais;
      <br>
      A Idoneidade, ética e transparência em todas as nossas atividades e relações.
      <br>
    </ion-card-content>

  </ion-card>
</ion-content>
